In [73]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\masti\appdata\local\programs\python\python311\lib\site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\masti\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy) (3.0.3)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to E:\jupyter-2024

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 248kB/s]
100%|##########| 200k/200k [00:00<00:00, 248kB/s]

In [5]:
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()
zip_ref.close()

In [18]:
#first remove NOT AVAILABLE, UNKNOWN
import pandas as pd
df = pd.read_csv('orders.csv', na_values=['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [30]:
#maintaint standard format
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [32]:
df['discount'] = df['list_price'] * df['discount_percent'] * .01
df['sales_price'] = df['list_price']-df['discount']
df['profit'] = df['sales_price'] - df['cost_price']
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [38]:
df.dtypes
df['order_Date'] = pd.to_datetime(df['order_date'], format = "%Y-%m-%d")

In [40]:
df.drop(columns = ['list_price', 'cost_price', 'discount_percent'], inplace = True)

In [96]:
# import sqlalchemy as sal
# # engine = sal.create_engine('mssql+pyodbc://Sachin\SQLEXPRESS01/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
# # conn = engine.connect()
# # Connection string
# import sqlalchemy as sal
# engine = sal.create_engine('mssql://Sachin\SQLEXPRESS01/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
# conn=engine.connect()

df.to_csv('df_orders.csv')

In [95]:
df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')

C:\Users\masti\AppData\Local\Temp\ipykernel_13636\3903715650.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')

AttributeError: 'Connection' object has no attribute 'cursor'